body {
    background-color: black;
}

div {
    background-color: azure;
    align-items: center;
    display: flex;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-radius: 20%;
}

button {
    border-radius: 20%;
    padding: 2%;
    border: 1px solid darkblue;
    font-family: 'Courier New', Courier, monospace;
}